In [1]:
import pandas as pd

In [2]:
dataset_1 = pd.read_csv("htmls/df_hispa_1092022.csv")
dataset_2 = pd.read_csv("htmls/df_hispa_1_10_2022.csv")
dataset_3 = pd.read_csv("htmls/df_hispa_1_11_2022.csv")

In [3]:
dataset_1_2 = pd.concat([dataset_1, dataset_2],axis=0, ignore_index = True)

In [4]:
dataset_123 = pd.concat([dataset_1_2, dataset_3], ignore_index = True)

In [5]:
dataset_123.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2426 entries, 0 to 2425
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2426 non-null   int64
 1   urgent         2426 non-null   int64
 2   buy            2426 non-null   int64
 3   change         2426 non-null   int64
 4   sell           2426 non-null   int64
 5   price          2426 non-null   int64
 6   gift           2426 non-null   int64
 7   search         2426 non-null   int64
 8   repair         2426 non-null   int64
 9   parts          2426 non-null   int64
 10  synt_brand     2426 non-null   object
 11  description    2425 non-null   object
 12  city           2426 non-null   object
 13  published      2426 non-null   object
 14  expire         2426 non-null   object
 15  date_scrapped  2426 non-null   object
 16  seen           2426 non-null   int64
 17  anon_user      2426 non-null   int64
 18  user           1621 non-null   object
dtypes: int64(12), object(7)
memory usage: 360.2+ KB

In [6]:
dataset_123.drop(dataset_123.columns[18:],axis=1,inplace=True)

In [7]:
dataset_123.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2426 entries, 0 to 2425
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2426 non-null   int64
 1   urgent         2426 non-null   int64
 2   buy            2426 non-null   int64
 3   change         2426 non-null   int64
 4   sell           2426 non-null   int64
 5   price          2426 non-null   int64
 6   gift           2426 non-null   int64
 7   search         2426 non-null   int64
 8   repair         2426 non-null   int64
 9   parts          2426 non-null   int64
 10  synt_brand     2426 non-null   object
 11  description    2425 non-null   object
 12  city           2426 non-null   object
 13  published      2426 non-null   object
 14  expire         2426 non-null   object
 15  date_scrapped  2426 non-null   object
 16  seen           2426 non-null   int64
 17  anon_user      2426 non-null   int64
dtypes: int64(12), object(6)
memory usage: 341.3+ KB

In [8]:
dataset_123['synt_brand'].value_counts(ascending=False)

-                      364
roland                 275
yamaha                 212
korg                   186
eurorack                93
                      ...
expert                   1
polyend                  1
atomo                    1
synth                    1
intellijel designs       1
Name: synt_brand, Length: 169, dtype: int64