In [1]:
import pandas as pd
import seaborn as sns

pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv("happy_dataframe_anonimized.csv",index_col=[0]) #

In [3]:
df = df.drop(df.columns[0:1],axis=1)

In [4]:
df

,urgent,buy,change,sell,price,gift,search,repair,parts,synt_brand,description,city,published,expire,date_scrapped,seen,user_anon
0,0,0,0,1,350,0,0,0,0,-,dreadbox nyx v1,Valencia,08/05/2022,27/09/2022,30/8/2022,700,1073
1,0,0,0,1,350,0,0,0,0,-,modal electronics cobalt 5s,Castellón,25/07/2022,23/09/2022,30/8/2022,330,1845
2,0,0,0,1,900,0,0,0,0,-,moog little phatty stage 2,Baleares,10/07/2021,28/09/2022,30/8/2022,570,635
3,0,0,0,1,420,0,0,0,0,-,último precio doepfer a-100 6u,Málaga,01/07/2022,30/08/2022,30/8/2022,290,1177
4,0,0,0,1,480,0,0,0,0,-,mpc live ssd 250 envío incluido,Albacete,26/08/2022,25/10/2022,30/8/2022,182,438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,0,0,0,1,150,0,0,0,0,-,groovebox mc 303,Madrid,29/07/2022,14/09/2022,30/8/2022,342,1261
756,0,1,0,0,0,0,0,0,0,-,proteus 2000 máximo 200€,Madrid,17/07/2022,24/09/2022,30/8/2022,392,1451
757,0,1,0,0,0,0,0,0,0,-,arturia microbrute,Córdoba,16/08/2022,18/10/2022,30/8/2022,58,648
758,0,0,0,1,490,0,0,0,0,-,korg arp odyssey,Girona,12/11/2021,08/10/2022,30/8/2022,1078,637
759,0,0,0,1,300,0,0,0,0,-,akai s3000xl,Almería,01/07/2022,28/09/2022,30/8/2022,922,384

## Descriptive statistics.

Quick view summarizing the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.

In [5]:
df['price'].describe()

count       760.000000
mean        686.823684
std        4111.103755
min           0.000000
25%          90.000000
50%         260.000000
75%         572.500000
max      111111.000000
Name: price, dtype: float64

- there's an outlayer in max and it must to be removed, because it is a very high figure and influences the result.

In [6]:
df[df['price'] == 111111]

,urgent,buy,change,sell,price,gift,search,repair,parts,synt_brand,description,city,published,expire,date_scrapped,seen,user_anon
572,0,0,0,1,111111,0,0,0,0,-,material a la venta en moogchild synthdrome,Madrid,18/03/2021,18/09/2022,30/8/2022,20038,2019

In [7]:
df = df.drop(572)

In [8]:
df[df['price'] == 111111]

Empty DataFrame
Columns: [urgent, buy, change, sell, price, gift, search, repair, parts, synt_brand, description, city, published, expire, date_scrapped, seen, user_anon]
Index: []

***

-Redoing the summary and see how the values have changed

In [9]:
df['price'].describe() # es percentil xq es referenciado a 80% si fuese refer a 0.8 seria cuantil

count      759.000000
mean       541.337286
std        903.253575
min          0.000000
25%         90.000000
50%        260.000000
75%        565.000000
max      12000.000000
Name: price, dtype: float64

- mediana = percentil 50%

### Rango intercuantilico (variabilidad o dispersión de los datos)

Medida habitual de la variabilidad la diferencia entre el percentil 75% y el percentil 25% de una distribución, en el caso de utilizar el diagrama de caja,  la mediana (percentil 50%) seria la medida central.

rango_intercuantilico = 75% - 25% 

565.000000 - 90.000000

In [11]:
rango_intercuantilico = 565 - 90
rango_intercuantilico

475

Si hubiera **pocos valores extremos**, el resultado del rango intercuartil será próximo a la mediana o segundo cuartil (Q2), en caso contrario de que no fuese cercano a la mediana nos estaría indicando la existencia de valores extremos en nuestro conjunto de datos.

Por lo tanto por lo que parece la varibilidad de precios es elevada. ¿!!!?

In [14]:
sns.set_theme(style="whitegrid")
datadf = sns.load_dataset("df")
ax = sns.boxplot(x=datadf['price'])

TypeError: set_palette() got an unexpected keyword argument 'style'

In [15]:
sns.set_theme(style="whitegrid")
datadf = sns.load_dataset("df")
ax = sns.boxenplot(x=datadf['price'])

AttributeError: module 'seaborn' has no attribute 'set_theme'